doctype html
html(lang="{ACTIVE_LANGUAGE_NAME}")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title {METATITLE} | {GLOBAL_TITLE}
        meta(name='description', content='{METADESC}')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        include favicons.html

        //- add dns prefetch link when using google webfonts
        link(rel='dns-prefetch', href='//fast.fonts.net')
        link(rel='stylesheet', href='http://fast.fonts.net/cssapi/5d4b0b0b-3738-4d30-a729-255608ae8b41.css')
        link(rel='stylesheet', href='/themes/rafhun/style.min.css')
        
        //- grunticon loader
        script (function(e){function t(t,n,r,o){"use strict";function a(){for(var e,t=0;m.length>t;t++)m[t].href&&m[t].href.indexOf(i.href)>-1&&(e=!0);e?i.media=r||"all":setTimeout(a)}var i=e.document.createElement("link"),c=n||e.document.getElementsByTagName("script")[0],m=e.document.styleSheets;return i.rel="stylesheet",i.href=t,i.media="only x",o&&(i.onload=o),c.parentNode.insertBefore(i,c),a(),i}var n=function(r,o){"use strict";if(r&&3===r.length){var a=e.navigator,i=e.Image,c=!(!document.createElementNS||!document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||e.opera&&-1===a.userAgent.indexOf("Chrome")||-1!==a.userAgent.indexOf("Series40")),m=new i;m.onerror=function(){n.method="png",n.href=r[2],t(r[2])},m.onload=function(){var e=1===m.width&&1===m.height,a=r[e&&c?0:e?1:2];n.method=e&&c?"svg":e?"datapng":"png",n.href=a,t(a,null,null,o)},m.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==",document.documentElement.className+=" grunticon"}};n.loadCSS=t,e.grunticon=n})(this);grunticon( [ "/themes/rafhun/icons/icons.data.svg.css", "/themes/rafhun/icons/icons.data.png.css", "/themes/rafhun/icons/icons.fallback.css" ] );

    body(class='{CSS_NAME}')
        //- include ../images/shapes.svg
        <!--[if lt IE 8]><p class="browserupgrade">Sie benutzen einen <strong>veralteten</strong> Browser. Bitte <a href="http://browsehappy.com/">aktualisieren Sie Ihren Browser</a> um eine bessere Web Erfahrung geniessen zu k&ouml;nnen.</p><![endif]-->
        header.page-header
            .logo
                a(href='{NODE_HOME}'): img.logo-img(src='/themes/rafhun/images/Logo.png', width='440', height='102')
            .metanav
                ul.metanav-list
                    li.metanav-list-item.language-navbar
                        | {LANGUAGE_NAVBAR_SHORT}
                    li.metanav-list-item
                        a.metanav-link(href='#') Downloads
                    li.metanav-list-item
                        a.metanav-link(href='#') Links
                    li.metanav-list-item
                        a.metanav-link(href='#') Sitemap
                form.metanav-search
                    input.metanav-search-input#search-input(type='search', placeholder='Suchen', name='term')
                    span.icon-search-lines.icon
        nav.navigation(role='navigation')
            | {NAVBAR_FILE}
        //- content goes here
        | {CONTENT_FILE}
        footer.page-footer
            .footer-container
                .footer-human
                    img(src='/themes/rafhun/images/Human-Bottom.png', width='404', height='254')
                | {NAVBAR2_FILE}
                address.footer-address
                    p CHRISTENORTHO AG<br>Dr. med., M. H. A. Bernhard Christen<br>Orthop&auml;dische Klinik Bern<br>Sch&auml;nzlistrasse 39<br>CH-3000 Bern 25
                    p Telefon +41 31 337 89 24<br>Telefax +41 31 337 89 54<br>
                        a(href='mailto:info@christenortho.ch') info@christenortho.ch
                .footer-award
                    figure
                        img.footer-award-logo(src='/images/footer/Primo-Medico-Siegel.png')
                        figcaption.footer-award-caption Ausgezeichnet im Facharzt Verzeichnis Leading Medicine Guide als Facharzt f&uuml;r Orthop&auml;die
        aside.footer-aside
            .footer-container
                .footer-meta
                    ul.footer-meta-list
                        li.footer-meta-list-item
                            a.footer-meta-link(href='#') Impressum
                        li.footer-meta-list-item
                            a.footer-meta-link(href='#') Disclaimer

        | <script src= "/themes/rafhun/script.min.js"></script>

        // remember ga
